@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
    margin: 0;
    padding:0;
}
body{
    background: linear-gradient(to right,rgb(189, 195, 199),rgb(44, 62, 80));
    font-family: sans-serif;
    font-size: 1.5em;
    color:white;
}
header{
    background: rgb(245, 245, 245);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
header img{
    height:100px;
    width:10%;
}
header li,a{
    display: inline-block;
    text-decoration: none;
    color: rgb(36, 37, 42);
    font-family: "Montserrat",sans-serif;
}
.text-dec:hover{
    text-decoration: underline;
    color: whitesmoke;
    background: aqua;
}
header button{
    background-color: grey ;
    border-radius: 200px 100px;
    color:whitesmoke;
    font-family: "Montserrat",sans-serif;
}
.main{
    margin-top:50px;
    margin-bottom: 100px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;


}
#name{
    background: whitesmoke;
    color:rgb(36, 37, 42);
    font-family: "Montserrat",sans-serif;
    padding: 50px 50px;
    margin-left:90px;
}
.main img{
    height:700px;
    width:50%;

}
.extra{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 100px;
    padding-right: 20px;
    background: whitesmoke;
    color:rgb(36, 37, 42);
    font-family: "Montserrat",sans-serif;
}
.about{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 100px;
}
.about article{
    padding-left:50px;
    margin-left:65px;
    background: whitesmoke;
    color:rgb(36, 37, 42);
    font-family: "Montserrat",sans-serif;
}
iframe{
    height:450px;
    width:50%;
}
footer{
    background: rgb(36, 37, 42);
    color: whitesmoke;
    font-family: "Montserrat",sans-serif;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer li{
    list-style: none;
    margin-right:600px;
}
#phone-number:hover{
    text-decoration: underline;
    color:aqua;
}
#email:hover{
    text-decoration: underline;
    color:aqua;
}
